* {
   margin: 0;
   padding: 0;
   font-family: lato;
   background-image: url(images/bg.webp) ;
   background-size: cover;
}

h2 {
   text-align: center;
   margin-top: 0px;
   font-size: 2rem;
   color: #002F4E;
}

.contenidor {
   width: 1280px;
   height: 640px;
   margin: 50px auto ;
   overflow: hidden;

   animation: slidea 20s infinite alternate ease-in-out;
}

.contenidor ul {
   display: flex;
   padding: 0;
   width: 600%;
}

.contenidor li {
   list-style: none;
   width: 100%;
}

.contenidor img {
   width: 100%;
   border-radius: 15px;
   object-fit: cover;
}

@keyframes slidea {
   0% {margin-left: 0%;}
   15% {margin-left: 0%;}

   20% {margin-left: -100%;}
   35% {margin-left: -100%;}

   40% {margin-left: -200%;}
   55% {margin-left: -200%;}

   60% {margin-left: -300%;}
   75% {margin-left: -300%;}

   80% {margin-left: -400%;}
   95% {margin-left: -400%;}
}