* {
   margin: 0;
   padding: 0;
   font-family: lato;
   background-color: #002F4E;
}

.slider-frame {
   width: 1280px;
   height: auto;
   margin: 0 auto;
   overflow: hidden;
   animation: slide 56s infinite alternate ease-in-out;
}

.slider-frame ul {
   display: flex;
   padding: 0;
   width: 1400%;
   border-radius: 15px;
}

.slider-frame li {
   list-style: none;
   width: 100%;
}

.slider-frame img {
   width: 100%;
   border-radius: 15px;
   object-fit: cover;
}

@keyframes slide {
   0% {margin-left: 0%;}
   12.5% {margin-left: 0%;}

   25% {margin-left: -100%;}
   37.5% {margin-left: -100%;}

   50% {margin-left: -200%;}
   62.5% {margin-left: -200%;}

   75% {margin-left: -300%;}
   87.5% {margin-left: -300%;}

   100% {margin-left: -400%;}
   112.5% {margin-left: -400%;}

   125% {margin-left: -500%;}
   137.5% {margin-left: -500%;}

   150% {margin-left: -600%;}
   162.5% {margin-left: -600%;}

   175% {margin-left: -700%;}
   187.5% {margin-left: -700%;}

   200% {margin-left: -800%;}
   212.5% {margin-left: -800%;}

   225% {margin-left: -900%;}
   237.5% {margin-left: -900%;}

   250% {margin-left: -1000%;}
   262.5% {margin-left: -1000%;}

   275% {margin-left: -1100%;}
   287.5% {margin-left: -1100%;}

   300% {margin-left: -1200%;}
   312.5% {margin-left: -1200%;}

   325% {margin-left: -1300%;}
   337.5% {margin-left: -1300%;}
}